section {
  width: 1200px;
  margin: 0 auto;
  display: block;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: aliceblue;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
body {
  background-image: linear-gradient(
      rgba(228, 26, 12, 0.484),
      rgba(233, 200, 54, 0.527)
    ),
    url(./images/background.png);
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: 1400px 650px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  gap: 5px;
}

.header__menu-item {
  text-decoration: none;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.hero__subtitle {
  margin: 0px 0px 5px 0px;
  color: white;
  font-size: 50px;
  font-weight: 500;
  font-family: "Fasthand", cursive;
}

.hero__title {
  margin: 0;
  color: white;
  width: 500px;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 100px;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.services__subtitle {
  margin: 0;
  font-family: "Fasthand", cursive;
}
.services__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.services__list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 200px 200px 200px;
}
.services__item {
}
.services__item-title {
}
.services__item-description {
  color: grey;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team__subtitle {
  font-family: "Fasthand", cursive;
  margin: 0;
}
.team__title {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.team__description {
  text-align: center;
}
.team__list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 373px 373px 373px;
  gap: 20px;
  padding: 0;
}
.team__member-figure {
  height: 400px;
  margin: 0;
}
.team__member-caption {
  text-align: center;
}
.team__member-name {
}
.team__member-role {
}
.footer__section {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.footer__section-form {
  display: flex;
}
