section {
  width: 1200px;
  margin: 0 auto;
  display: block;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: aliceblue;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
body {
  background-image: linear-gradient(
      rgba(228, 26, 12, 0.484),
      rgba(233, 200, 54, 0.527)
    ),
    url(./images/background.png);
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: 1400px 650px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  gap: 30px;
}

.header__menu-item {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.hero__subtitle {
  margin: 0px 0px 5px 0px;
  color: white;
  font-size: 40px;
  font-weight: 500;
  font-family: "Fasthand", cursive;
}

.hero__title {
  margin: 0;
  color: white;
  width: 500px;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 90px;
}

.hero__button {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  color: aliceblue;
  border: 3px solid white;
  background-color: transparent;
  width: 120px;
  height: 30px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.services__svg {
  position: absolute;
  top: 20px;
  left: -50px;
}
.services__item {
  position: relative;
}

.services__subtitle {
  margin: 0;
  font-size: 28px;
  font-family: "Fasthand", cursive;
}
.services__title {
  position: relative;
  margin: 0px 0px 60px 0px;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
}
.services__title::after {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -30px;
  width: 60px;
  height: 3px;
  background-color: orange;
}

.services__list {
  display: grid;
  margin-left: 78px;
  grid-template-rows: auto;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
}
.services__item {
}
.services__item-title {
  font-size: 16px;
}
.services__item-description {
  color: grey;
  font-size: 14px;
  width: 250px;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team__subtitle {
  font-family: "Fasthand", cursive;
  font-size: 28px;
  margin: 0;
}
.team__title {
  position: relative;
  font-family: "Roboto", sans-serif;
  margin: 0px 0px 60px 0px;
  font-size: 28px;
}
.team__title::after {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -30px;
  width: 60px;
  height: 3px;
  background-color: orange;
}

.team__member {
  width: 350;
}
.team__member:hover .team__member-description {
  bottom: 15;
  right: 15;

  transition: 250ms;
}
.team__member:hover .team__member-figure {
  transition: 3500ms;
  overflow: visible;
  z-index: 1;
}
.team__description {
  margin: 0px 0px 60px 0px;
  text-align: center;
  font-size: 16px;
  width: 900px;
  color: grey;
}
.team__list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 373px 373px 373px;
  gap: 20px;
  padding: 0;
}
.team__member-figure {
  overflow: hidden;

  position: relative;
  margin: 0;
}
.team__member-caption {
  text-align: center;
}
.team__member-name {
  font-size: 16px;
}
.team__member-role {
  font-size: 14px;
  color: grey;
}
.team__member-description {
  background-image: linear-gradient(
    rgba(218, 102, 93, 0.867),
    rgba(233, 200, 54, 0.727)
  );
  transition: 250ms;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -500px;
  right: -400;
}
.team__member-socials {
  display: flex;
  padding: 0;
  height: auto;
  background-color: rgb(248, 230, 148);
  align-items: center;
  justify-content: center;
}
.team__svg {
  padding: 16px;
  border-right: 1px solid rgba(218, 102, 93);
}
.team__svg:hover {
  fill: white;
  background-color: rgba(218, 102, 93);
}

.footer__section {
  margin-top: 40px;
  height: 80px;
  border-top: 1px solid grey;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.footer__section-form {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.footer__button {
  margin: 0;
  padding: 0;
  background-color: rgb(105, 194, 164);
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border: none;
  width: 170px;
}
#email {
  padding: 0;
  height: 40px;
  padding-left: 10px;
  width: 200px;
  border: 1px solid grey;
}
.icon-home {
  background-color: aqua;
  fill: aliceblue;
  color: white;
}
