@import "../utils/variables";
@import "../utils/fonts";

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.services__svg {
  position: absolute;
  top: 19px;
  left: -50px;
}

.services__item {
  position: relative;
}

.services__subtitle {
  margin: 60px 0px 0px 0px;
  font-size: $Title;
  font-family: $Fasthand, cursive;
}

.services__title {
  position: relative;
  margin: 0px 0px 60px 0px;
  font-size: $Title;
  font-family: $Roboto, sans-serif;
  &::after {
    content: "";
    position: absolute;
    left: 40%;
    bottom: -30px;
    width: 60px;
    height: 3px;
    background-color: $orange;
  }
}

.services__list {
  display: grid;
  margin-left: 78px;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 350px);
  gap: 60px;
}

.services__item-title,
.services__item-description {
  font-size: $Standard;
}

.services__item-description {
  color: $grey;
  width: 300px;
}

@media (max-width: 767px) {
  .services {
    margin-top: 50px;
    max-width: 767px;
  }

  .services__list {
    grid-template-columns: 1fr;
    margin: 0;
    align-items: center;
  }

  .services__item {
    margin-bottom: 60px;
    margin-left: 33px;
  }

  .services__title::after {
    display: none;
  }

  .services__item-description {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  .services__item {
    margin-bottom: 60px;
    margin-left: 0px;
    padding: 0;
  }
}
