@import "../utils/variables";
@import "../utils/fonts";

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team__subtitle {
  font-family: $Fasthand, cursive;
  font-size: $Title;
  margin: 0;
}

.team__title {
  position: relative;
  font-family: $Roboto, sans-serif;
  margin: 0px 0px 60px 0px;
  font-size: $Title;
  &::after {
    content: "";
    position: absolute;
    left: 40%;
    bottom: -30px;
    width: 60px;
    height: 3px;
    background-color: $orange;
  }
}

.team__member {
  width: 350px;
}

.team__description {
  margin-bottom: 60px;
  text-align: center;
  font-size: $Standard;
  width: 900px;
  color: $grey;
}

.team__list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 350px);
  gap: 70px;
  padding: 0;
}

.team__member-caption {
  text-align: center;
}

.team__member-name {
  font-size: $Standard;
  font-weight: bold;
}

.team__member-role {
  font-size: $Small;
  font-style: italic;
  color: $grey;
}

.team__member-image {
  display: block;
  width: 100%;
  height: 430px;
}

.team__member-figure {
  height: 430px;
  margin: 0px 0px 50px 0px;
  position: relative;
  &:hover {
    background-color: $mint;
    transition: 0.3s;
  }
  &:hover .team__member-overlay {
    opacity: 1;
    transform: translate(-10px, -10px);
  }
  &:hover .team__member-image {
    transform: translate(-10px, -10px);
  }
}

.team__member-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient($red, $yellow);
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__member-socials {
  display: flex;
  padding: 0;
  height: 60px;
  background-color: $yellow;
  align-content: center;
  justify-items: center;
}

.team__svg {
  padding: 16px;
  &:hover {
    fill: $white;
    background-color: $darkred;
  }
  &:not(:last-child) {
    border-right: 1px solid rgba(218, 102, 93);
  }
}

@media (max-width: 767px) {
  .team__list {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .team__description {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .team__description {
    max-width: 100%;
  }
}
